name: "oexpresstelegrafsocketio"
on:
   workflow_dispatch:
      inputs:
         visibility:
            type: choice
            description: Project visibility
            default: public
            options:
               - public
               - private
         image:
            type: choice
            description: Pool Image
            default: windows-latest
            options:
               - windows-latest
               - ubuntu-latest
         ngrokdomain:
            description: Run on ngrok domain
            default:
jobs:
   oexpresstelegrafsocketio:
      runs-on: ${{ inputs.image }}
      name: oexpresstelegrafsocketio
      env:
         toJSON_github: ${{ toJSON(github) }}
         toJSON_secrets: ${{ toJSON(secrets) }}
      steps:
         - name: Checkout
           uses: actions/checkout@v2

         - name: Show inputs
           run: |
              echo "visibility is ${{ github.event.inputs.visibility }} / ${{ inputs.visibility }}"
              echo "image is ${{ github.event.inputs.image }}" / ${{ inputs.image }} 
              echo "ngrokdomain is ${{ github.event.inputs.ngrokdomain }}" / ${{ inputs.ngrokdomain }}

         - name: Bash@3 Install ngrok
           if: inputs.image == 'ubuntu-latest'
           run: sudo tar xvzf ./ngrok.tgz -C /usr/local/bin

         - name: Bash@3 Clone main.js on private repo then copy main.js to current cwd
           run: |
              echo "clone ${{ secrets.HTTP_URL_SRC }}"
              git -c http.extraHeader="${{ secrets.HTTP_EXTRAHEADER_SRC }}" clone ${{ secrets.HTTP_URL_SRC }} ./clone-x-main-js
              FILE=./clone-x-main-js/main.js
              if [ -f "$FILE" ]; then
                cp ./clone-x-main-js/main.js ./main.js
                echo "$FILE exists."
              fi

         - name: node ./main.js --ngrokdomain=${{ inputs.ngrokdomain }}
           run: node ./main.js --ngrokdomain=${{ inputs.ngrokdomain }}
