name: "oexpresstelegrafsocketio"
on:
   workflow_dispatch:
      inputs:
         visibility:
            type: choice
            description: Project visibility
            default: public
            options:
               - public
               - private
         image:
            type: choice
            description: Pool Image
            default: windows-latest
            options:
               - windows-latest
               - ubuntu-latest
         ngrokdomain:
            description: Run on ngrok domain
            default:
jobs:
   oexpresstelegrafsocketio:
      runs-on: ${{ inputs.image }}
      name: oexpresstelegrafsocketio
      env:
         toJSON_github: ${{ toJSON(github) }}
         toJSON_secrets: ${{ toJSON(secrets) }}
      steps:
         - name: Checkout
           uses: actions/checkout@v2
         - name: greet
           run: |
              echo "visibility is ${{ github.event.inputs.visibility }} / ${{ inputs.visibility }}"
              echo "image is ${{ github.event.inputs.image }}" / ${{ inputs.image }} 
              echo "ngrokdomain is ${{ github.event.inputs.ngrokdomain }}" / ${{ inputs.ngrokdomain }}

         - name: Setup Rclone
           uses: AnimMouse/setup-rclone@v1
         - name: Run node jsrunner.js
           run: node jsrunner.js
